h1 {
    color: red;
}

p, li{
    color: green
}

.special  {
    color: orchid;
    font-weight: bold;
}

li.special,
span.special {
  color: orange;
  font-weight: bold;
}

h1 + p {
  font-size: 300%;
}

a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}